@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 23 32% 96%;
    --foreground: 23 5% 10%;
    --card: 0 0% 100%;
    --card-foreground: 23 5% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 23 5% 10%;
    --primary: 17 100% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 17 20% 90%;
    --secondary-foreground: 17 100% 30%;
    --muted: 23 10% 90%;
    --muted-foreground: 23 5% 45%;
    --accent: 334 67% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 23 10% 85%;
    --input: 23 10% 85%;
    --ring: 17 100% 65%;
    --chart-1: 17 100% 65%;
    --chart-2: 334 67% 41%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 23 32% 5%;
    --foreground: 23 5% 95%;
    --card: 23 32% 8%;
    --card-foreground: 23 5% 95%;
    --popover: 23 32% 8%;
    --popover-foreground: 23 5% 95%;
    --primary: 17 100% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 17 20% 15%;
    --secondary-foreground: 17 100% 80%;
    --muted: 23 10% 15%;
    --muted-foreground: 23 5% 65%;
    --accent: 334 67% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 23 10% 20%;
    --input: 23 10% 20%;
    --ring: 17 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}